
<h2> Welcome to my js login page </h2>

  <form class="form-horizontal">
    <h4>Signin to Angulask </h4>
    <div class="control-group">
        <div class="controls">
          <input type="text" ng-model="user.username"
            id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="password" ng-model="user.password"
            id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <button ng-click='loginfun(user)'
          	type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
