
###############################
# GLOBAL CONFIGURATION
conf:
    image: busybox
    command: ./boot
    environment:
        ## If you are still developing
        ## (flask wsgi restartable on edit + sqllite dbs + print DEBUG level)
        # APP_MODE: development

        ## If you need to get serious
        ## (gunicorn/nginx servers + postgres dbs + print INFO level)
        # APP_MODE: production

        ## If you are testing something that does not work
        ## (containers that do not start anything)
        APP_MODE: debug
###############################


###############################
backend:
    extends:
        service: conf
    image: pdonorio/py3api
    hostname: restapi
    ports:
        - 8081:5000
    volumes:
        # Sql lite database
        - apilitedb:/dbs
        # Base code
        - ../backend:/code
        # Rest API endpoints
        - ../vanilla/apis:/code/restapi/resources/custom
        # Rest API configuration
        - ../vanilla/specs:/code/confs/endpoints

###############################
frontend:
    extends:
        service: conf
    image: pdonorio/flasking
    hostname: frontend
    working_dir: /data/frontend
    volumes:
        # Sql lite database & common models
        - apilitedb:/dbs
        # Main dir. It has to be the root directory, to make links work
        - ..:/data
        # js/css libraries installed via bower
        - ../vanilla/jslibs/bower_components:/data/frontend/felask/static/bower
        # custom css files
        - ../vanilla/templates/customcss:/data/frontend/felask/static/css
        # All the angular blueprints (&& templates)
        - ../vanilla/jscode:/data/frontend/felask/static/app
        # Python pages
        - ../vanilla/pages:/data/frontend/felask/pypages
        # Python templates
        - ../vanilla/templates/python:/data/frontend/felask/templates/custom
        # Angular blueprint
        - ../vanilla/specs/js_init.json:/data/frontend/config/angular/blueprint.json
    ports:
        - 80:5000

###############################
# Make automatic to install libraries
bower:
    image: pdonorio/jsdev
    working_dir: /tmp/vanilla/jslibs
    volumes:
        - ..:/tmp

#################################
# Database administration

# This image let you access the postgres db with a 'phpmyadmin' like web page
sqladmin:
    image: clue/adminer
    # Sql lite database & common models
    volumes:
        - apilitedb:/dbs
    # links:
    #     - sql:db
    ports:
        - 8888:80
