
/*
  header, main, footer {
    padding-left: 180px;
  }

  @media only screen and (max-width : 800px) {
    header, main, footer {
      padding-left: 0;
    }
  }

*/
header, main, footer {
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 2em;
}

/* Push-pin CSS3 equivalence
.pinned {
    position: fixed !important;
}

.toc-wrapper {
    position: relative;
    margin-top: 42px;
}
*/

.transcription {
  font-family: "Lucida Console", Monaco, monospace;
  height: 600px; 
  overflow-y: scroll;
  padding: 5px;
}

.celltop {
  vertical-align: top;
}

.tabtop {
  padding-top:20px;
}

 .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
 .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
 .autocomplete-custom-template .item-title,
 .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
 .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }
