<!DOCTYPE html>
<html xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title> Record #{{record}}: zooming page {{page}} </title>
    <script type="text/javascript"
        src="/static/uploads/pyimgs/viewer/ZoomifyImageViewer.js"></script>
<!--
http://www.zoomify.com/products.htm
-->
</head>

<body>

<script type="text/javascript">
  Z.showImage(
    "myContainer",
    // file name
    "{{filename}}",
    // options
    "zToolbarPosition=2&zFullPageInitial=1&" +
    "zSkinPath=/static/uploads/pyimgs/viewer/Assets/Skins/Dark"
    + "&zNavigatorFit=1&zNavigatorWidth=180&zNavigatorHeight=180"
    + "&zNavigatorVisible=3&zInitialZoom=0"
    + "&zToolbarVisible=1&zLogoVisible=1"
    + "&zSliderVisible=1&zProgressVisible=1&zTooltipsVisible=1"
    )
  ;
</script>

<div id="myContainer"
    style="
    width:800px; height:600px;
    margin:auto; border:1px; border-style:solid; border-color:#696969;
    " ></div>

</body>
</html>
