<!DOCTYPE html>
<html lang="en" ng-app="myapp">

    <head>
        <title>Testing HTTP API from a web page</title>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body ng-controller="MyController as $ctrl" ng-cloak>

        <table ng-if='messages'>
            <tr>
                <th>HTTP API signal errors:</th>
            </tr>
            <tr ng-repeat="message in messages">
                <td style="max-width: 700px; overflow: scroll;">{{message}}</td>
            </tr>
        </table>

        <table ng-if='dataset' border="1">
            <tr ng-repeat="(key, value) in dataset">
                <th>{{key}}</th>
                <td ng-show="value">{{value}}</td>
                <td ng-hide="value">-</td>
            </tr>
        </table>

    </body>
</html>
