<!DOCTYPE html>
<html lang="en" ng-app="myapp">

    <head>
        <title>Testing HTTP API from a web page</title>
        <link rel="stylesheet" href="css/angular-material.css" />
    </head>

    <body ng-controller="MyController as $ctrl" ng-cloak>

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
              <span>My portal</span>
            </h2>
        </md-toolbar>

        <md-content layout-padding layout-wrap>

            <md-list>
              <md-list-item class="md-3-line" ng-repeat="item in messages">
                <div class="md-list-item-text">
                  <h3>Error</h3>
                  <p>{{item}}</p>
                </div>
                <md-button class="md-secondary" ng-click="reload()"
                    >Reload</md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>

            <md-list>
              <md-list-item class="md-3-line" ng-repeat="(key, value) in dataset">
                <div class="md-list-item-text">
                  <h4>{{key}}</h4>
                  <p>
                    <span ng-show="value"> {{value}} </span>
                    <span ng-hide="value"> - </span>
                  </p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>

        </md-content>

        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>

        <script src="js/angular-material.min.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
