
Package: b2stage-httpapi
Version: 0.0-1
Section: server
Priority: optional
Architecture: all
Depends: python3 (>= 3.6), git (>= 1:2.14)
Maintainer: Paolo D'Onorio De Meo <p.donoriodemeo@cineca.it>
Description: EUDAT B2STAGE HTTP-API
 When you need some sunshine, just run this
 small program!
