pip

attrs
beeprint
better_exceptions
bravado-core
celery
Flask
Flask-Cors
Flask-OAuthlib
Flask-RESTful
Flask-SQLAlchemy
flask_injector==v0.9.0
gssapi
injector==0.12.0
flask-shell-ipython
httpie
ipython
neomodel
nose2
cov-core
pyOpenSSL
plumbum
psycopg2
PyJWT
requests
swagger-spec-validator
uWSGI
uwsgitop
urllib3

git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
#git+https://github.com/irods/python-irodsclient.git@master
git+https://github.com/pdonorio/python-irodsclient.git@b2stage
