pip

attrs
beeprint
better_exceptions
bravado-core
celery
Flask
Flask-Cors
Flask-OAuthlib
Flask-RESTful
Flask-SQLAlchemy
Flask-Injector
httpie
ipython
neomodel
nose2
cov-core
pyOpenSSL
plumbum
psycopg2
PyJWT
requests
swagger-spec-validator
#uWSGI
#uwsgitop
urllib3

gssapi
git+https://github.com/pdonorio/python-irodsclient.git@python3
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
