pip

attrs
beeprint
bravado-core
celery
Flask
Flask-Cors
Flask-OAuthlib
Flask-RESTful
Flask-SQLAlchemy
httpie
ipython
neomodel
nose2
pyOpenSSL
plumbum
psycopg2
PyJWT
requests
swagger-spec-validator
#uWSGI
#uwsgitop
urllib3

gssapi
git+https://github.com/pdonorio/python-irodsclient.git@python3
