<md-dialog aria-label="Mango (Fruit)">
  <form>

    <md-toolbar class="md-primary md-hue-3" >
      <div class="md-toolbar-tools"> <h2>Add element</h2> </div>
    </md-toolbar>

    <md-dialog-content style="max-width:1000px;max-height:810px; ">

        This is the content

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-secondary" ng-click="answer('useful')" md-autofocus>
        save
      </md-button>
      <md-button class="md-warn" ng-click="cancel()" >
        cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>