<md-dialog aria-label="Adding/editing new element">
 <form>

    <md-toolbar class="md-primary md-hue-3" >
      <div class="md-toolbar-tools"> <h2>{{ title }}</h2> </div>
    </md-toolbar>

    <md-dialog-content layout-padding 
      style="min-width:600px; max-width:1000px; max-height:810px; ">

      <div ng-repeat="model in sectionModels">
        <md-subheader class="md-primary">
          {{model.name}}
        </md-subheader>
        <md-input-container>
          <label> {{model.description}} </label>
          <textarea ng-model="model.text" 
            cols="50" md-maxlength="model.chars"
            >test</textarea>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-secondary" ng-click="answer('useful')" md-autofocus>
        save
      </md-button>
      <md-button class="md-warn" ng-click="cancel()" >
        cancel
      </md-button>
    </md-dialog-actions>

 </form>
</md-dialog>
