<md-content
    ng-controller="AdminController as adm">
 <md-tabs md-dynamic-height md-border-bottom
    md-swipe-content md-center-tabs md-selected='adm.selectedTab'>

<!-- FIRST TAB -->
    <md-tab label="Welcome page"
        md-on-select="adm.onTabSelected()">
      <md-content layout-padding flex='grow'>

<md-toolbar layout="column" class="md-tall md-default-theme">
  <div class="md-toolbar-tools">
    <div layout="row" flex="flex" class="fill-height"
    layout-align="center center"
        >
      <div class="md-toolbar-item md-breadcrumb" aria-hidden="false">
        <span tabindex="0">
            Custom sections
            for your <i>Welcome page</i>
        </span>
      </div>
    </div>
  </div>
</md-toolbar>

<form editable-form name="editableForm" onaftersave="saveUser()">

 <table class="highlight">

 <thead>
     <tr>
        <th ng-repeat="model in adm.sectionModels">
            {{model.name}}
        </th>
     </tr>
 </thead>

 <tbody>
  <tr ng-repeat="model in adm.models">
    <td ng-repeat="(key, value) in model track by $index">
      <span editable-textarea="value"
        e-rows="7" e-cols="40" e-aria-label="{{key}}"
        e-placeholder="{{adm.sectionModels[$index].description || 'Insert some value'}}"
        >
            <span ng-bind-html="value||'empty'"></span>
      </span>
    </td>
  </tr>
 </tbody>

 </table>

 <div class="buttons">
  <!-- button to show form -->
  <md-button type="button" class="md-default"
    ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
    Edit
  </md-button>
  <!-- buttons to submit / cancel form -->
  <span ng-show="editableForm.$visible">
    <md-button type="submit" class="md-primary"
        ng-disabled="editableForm.$waiting">
      Save
    </md-button>
    <md-button type="button" class="md-default"
        ng-disabled="editableForm.$waiting"
        ng-click="editableForm.$cancel()">
      Cancel
    </md-button>
  </span>
</div>

<md-content layout-padding flex='grow'
    layout='row' layout-align='end center'>
    <a class="btn-floating waves-effect waves-light red"
        ng-click="showAdvanced($event)" href>
        <i class="material-icons">add</i>
    </a>

</md-content>

    <div hide-gt-sm layout="row" layout-align="center center" flex="100">
        <md-checkbox ng-model="customFullscreen"
            aria-label="add one section">Test</md-checkbox>
      </div>
          <br/>
    <b layout="row" layout-align="center center" class="md-padding">
      {{status}}
    </b>


</form>

      </md-content>
    </md-tab>
<!-- FIRST TAB -->

<!-- SECOND TAB -->
    <md-tab label="Steps" md-on-select="adm.onTabSelected()">
      <md-content class="md-padding">
        Move the tree view here
<!--
        <div ng-include="adm.blueprintTemplateDir + 'tmp.html'"></div>
 -->
      </md-content>
    </md-tab>
<!-- SECOND TAB -->

  </md-tabs>
</md-content>
