<md-toolbar layout="column"
    class="md-tall md-default-theme cyan darken-1 md-whiteframe-6dp">
  <div class="md-toolbar-tools">
    <div layout="row" flex="flex" class="fill-height"
    layout-align="center center">
      <div class="md-toolbar-item md-breadcrumb" aria-hidden="false">
        <span tabindex="0">
            <br>
            Modify DB-schema steps
        </span>
      </div>
    </div>
  </div>
</md-toolbar>

<div ng-controller="TreeController as tree">

    <div ng-if="dataCount < 1">
        <div ng-include="root.templateDir + 'loader.html'"></div>
    </div>
    <div ng-if="dataCount == 0">
        No data available
    </div>

    <div ng-if="dataCount > 0">

        <table>
            <tr>
                <td width='60%'>
                    <treecontrol class="tree-classic"
                       tree-model="myTree"
                       options="tree.treeOptions"
                       on-selection="tree.showSelected(node)"
                       selected-node="node1">
                       <b>{{node.name}}</b> [type: <i>{{node.type}}</i>]
                    </treecontrol>
                </td>
                <td align='left' class='celltop'>
                    <div ng-if="tree.selectedTreeObj" style='border: 1px;'>
                        <h5> Informations </h5>
                        <ul>
                            <li ng-repeat='(key,value) in tree.selectedTreeObj'
                                ng-if='value'>
                                <i>{{tree.ucFirst(key)}}:</i> {{value}}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
<!--
        <div class="card-panel blue lighten-3">
            <span class="white-text"> Select a component to display info </span>
        </div>
-->

    </div>
</div>
