<div ng-controller="DetailsController as detail">

 <div ng-if='detail.data'>
  <!-- WITH DATA -->

  <div class="row" ng-hide="detail.data.id">
   <div class="col s12 m10 l11">
    No data...
   </div>
  </div>
  <div class="row" ng-if="detail.data.id">

   <div class="col s12 m11 l10">
  <!-- content -->

      <!-- text -->
      <div ng-repeat='(name, rows) in detail.refinedData'
        id="_{{name}}"
        class="section scrollspy" scrollspy>
        <table class='striped responsive-table'>
         <thead>
           <tr>
             <td colspan="2"> <h4> {{name}} </h4> </td>
           </tr>
         </thead>
          <tbody>
            <tr ng-if='value' ng-repeat='(key, value) in rows'>
              <th> {{ key }} </th>
              <td> {{ value }} </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- pages -->
      <div ng-hide='detail.data.images' class="card-panel red darken-4">
        <span class="white-text">
          No images or transcriptions found for this record.
        </span>
      </div>

      <div ng-repeat='image in detail.data.images' id="image{{image.code}}"
        class="section scrollspy" scrollspy>
        <h4> Page {{image.code}} </h4>
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Image</th>
              <th
                ng-if="image.transcriptions.length > 0">Transcription</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="celltop">
                <img materialboxed
                  class="responsive-img z-depth-3 materialboxed"
                  data-caption="{{image.code}}"
                  lazy-img="static/uploads/{{ image.filename }}">
              </td>
              <td width='55%' class="celltop"
                ng-if="image.transcriptions.length > 0">

<ul ng-if="image.transcriptions.length > 1"
  class="collapsible popout" data-collapsible="accordion" watch>
<!-- Many transcript -->
    <li ng-repeat="transcript in image.transcriptions track by $index">
        <div class="collapsible-header">Transcript n.{{$index + 1}}</div>
        <div class="collapsible-body transcription flow-text"
            ng-bind-html="image.transcriptions"></div>
    </li>
</ul>

<div ng-if="image.transcriptions.length == 1"
  ng-bind-html="image.transcriptions" class='transcription flow-text z-depth-3'>
<!-- One transcript -->
</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

  <!-- content -->
   </div>

    <div class="col hide-on-small-only m1 l2">
  <!-- Summary -->
      <div pushpin pushpin-offset="1">
      <ul class="section table-of-contents">
        <li ng-repeat='(name, row) in detail.refinedData'>
          <a href="#_{{name}}">
            {{name}}
          </a>
        </li>
        <li ng-repeat='image in detail.data.images'>
          <a href="#image{{image.code}}">
            Page {{image.code}}
          </a>
        </li>
      </ul>
     </div>
  <!-- Summary -->
    </div>


  </div> <!-- END OF ROW -->
 </div> <!-- END OF DATA -->

</div>
