<div
    ng-controller="FixImagesController as fix"
    style="padding-top: 20px;"
    layout="row" layout-align="center start"
    >

<!-- LIST -->
    <div flex-xs flex-gt-xs="65" layout="column">
     <md-list>
      <div ng-repeat="(party, data) in parties track by $index">
          <md-divider></md-divider>
          <md-list-item class="md-2-line"
              ng-click="fix.noImageList($event, data)">
            <div class="md-list-item-text" layout="column">
              <h3>{{party}}</h3>
              <p> Elements: <b>{{data.length}}</b> </p>
            </div>
          </md-list-item>
      </div>
     </md-list>
    </div>

<!-- CARD -->
    <div flex-xs flex-gt-xs="35" layout="column">
     <md-card>
      <md-card-title>
        <md-card-title-text> Just a test </md-card-title-text>
      </md-card-title>
      <md-card-content> Just a test </md-card-content>
      <md-card-actions layout="row" layout-align="start center">
        <md-button> Test </md-button>
      </md-card-actions>
     </md-card>
    </div>

</div>