<md-content layout="row" layout-padding layout-wrap>

    <div flex="80">
      <div id='step1' class="section scrollspy" scrollspy>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eos laboriosam, cum ducimus fuga. Blanditiis provident obcaecati hic delectus corporis, nam, libero eos quia harum expedita perspiciatis sed quam consectetur.
      </div>
      <div id='step2' class="section scrollspy" scrollspy>
        B
      </div>
    </div>
    <div flex="20" pushpin pushpin-offset="1">
      <ul class="section table-of-contents">
        <li> <a href="#step1"> Welcome </a> </li>
        <li> <a href="#step2"> Introduction </a> </li>
      </ul>
        C
    </div>

</md-content>