<md-content layout="row" layout-padding layout-wrap>

<!--CONTENT -->
    <div flex="80">

      <div>SLIDER</div>

      <div ng-repeat="section in sections track by $index"
        id='step{{$index}}' class="section scrollspy" scrollspy>
        <span ng-bind-html="section.data['Description']"></span>

        <br>
        more...
<!--
          <div class="parallax-container">
            <div parallax><img lazy-img="http://materializecss.com/images/parallax2.jpg"></div>
          </div>
-->
      </div>

    </div>

<!-- SIDE MENU -->
    <div flex="20" pushpin pushpin-offset="1">
      <ul class="section table-of-contents">
        <li> <a href="#step0"> Welcome </a> </li>
        <li ng-repeat="section in sections track by $index">
          <a href="#step{{$index}}"> {{section.data['Section']}} </a>
        </li>
      </ul>
    </div>

</md-content>