
<div ng-controller="SearchController as search">

<!-- TOOLBAR -->
<form ng-submit="$event.preventDefault()">
 <md-toolbar>
  <div class="md-toolbar-tools md-whiteframe-8dp">

    <!-- search bar -->
    <div flex="grow" ng-include="search.blueprintTemplateDir + 'tags.html'"></div>
    <!-- search bar -->

  </div>
 </md-toolbar>
</form>
<!-- TOOLBAR -->

<div class="container">
 <div ng-if='data' class="row z-depth-2">
  <md-content layout='column' layout-align='space-around stretch'>

<!-- results -->
        <div ng-show="results">
            <div ng-if="dataCount == NaN">
                <div ng-include="search.templateDir + 'loader.html'"></div>
            </div>
            <div ng-if="dataCount == 0"
                layout='row' layout-align='center'>
                <p> No data found. </p>
            </div>
            <div ng-if='dataCount > 0'
                ng-include="search.blueprintTemplateDir + 'datatable.html'">
            </div>
        </div>
<!-- results -->

  </md-content>
 </div>
</div> <!-- container -->

<!-- Controller -->
</div>