<div
    ng-controller="SubmissionController as sub">

  <nav>
    <div ng-class="toolbarColor + 'lighten-1'"
        class="nav-wrapper" layout="row" layout-align="center center" >

        <a href="#!" class="breadcrumb">Submission</a>
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
    </div>
  </nav>

<div layout-padding layout-wrap
  style="padding-top: 20px;"
    layout="row">

   <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Single step</span>
          <span class="md-subhead">
          Step description:
          <i>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ea incidunt nulla est nobis nesciunt. Alias, quasi!
          </i>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content layout="column" "start start">
        <md-button class="red white-text"
           ng-click="sub.addImage(selectedStep)">
           <span layout="row" layout-align="center center">
               Add image <i class="material-icons">add</i>
           </span>
        </md-button>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button class="md-primary">Edit</md-button>
        <md-button class="md-warn">Save</md-button>
        <md-button class="md-accent">Delete</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="icon">
            <md-icon md-svg-icon="icon"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>

    </md-card>
   </div>

   <div flex-xs flex-gt-xs="45" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Associate pages</span>
          <span class="md-subhead">Select the image(s)</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
<!-- CONTENT -->

<ul>
    <li ng-repeat="image in sub.steps[selectedStep].images track by $index">
        Image: {{image}}
        <md-input-container>
          <md-select md-on-close="sub.selectImage()"
            ng-model="sub.steps[selectedStep].images[$index]"
            placeholder="Select your image">
            <md-option ng-value="opt" ng-repeat="opt in sub.images"
                >{{ opt }}</md-option>
          </md-select>
        </md-input-container>
    </li>
</ul>
<!-- CONTENT -->
      </md-card-content>
      <md-card-actions> </md-card-actions>
    </md-card>
   </div>

</div>

</div>