<div ng-controller="SubmissionController as sub">

  <nav>
    <div ng-class="toolbarColor + 'lighten-1'"
        class="nav-wrapper" layout="row" layout-align="center center" >

        <a href="#!" class="breadcrumb">Submission</a>
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
    </div>
  </nav>

 <div layout-padding layout-wrap style="padding-top: 20px;"
    layout="row" layout-align="center start">

   <div flex-xs flex-gt-xs="60" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Single step</span>
          <span class="md-subhead">
          Step description:
          <i>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ea incidunt nulla est nobis nesciunt. Alias, quasi!
          </i>
          </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content layout="column" "start start">
        <md-list-item ng-repeat="image in sub.steps[selectedStep].images">
            {{image}}
        </md-list-item>
        <md-button class="red white-text" ng-hide="sub.imageCard"
           ng-click="sub.addImage(selectedStep)">
           <span layout="row" layout-align="center center">
               Add image from available files
               <i class="material-icons">add</i>
           </span>
        </md-button>
        <md-button class="blue white-text" ng-show="sub.imageCard">
           <span layout="row" layout-align="center center">
               Select your image from the side card
           </span>
        </md-button>
      </md-card-content>

      <md-card-actions layout="row" layout-align="start center">
        <md-button class="md-primary">Edit</md-button>
        <md-button class="md-warn">Save</md-button>
        <md-button class="md-accent">Delete</md-button>
      </md-card-actions>

    </md-card>
   </div>

   <div flex-xs flex-gt-xs="35" layout="column" ng-if="sub.imageCard">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Associate pages</span>
          <span class="md-subhead">Select the image(s)</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <md-list ng-cloak>
          <md-list-item ng-repeat="image in sub.images"
            class="secondary-button-padding" ng-click="sub.selectImage(image)">
                {{image}}
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button class="orange white-text" ng-click="">
           <span layout="row" layout-align="center center">
               <i class="material-icons">add</i>
               upload a new file
           </span>
        </md-button>
      </md-card-actions>
    </md-card>

   </div>

 </div>
</div>