
<!-- SEARCH INPUT -->
<div class=""
    ng-controller="ChipsController as cchip"
    layout="row" layout-align="center center"
    layout-padding
    >

<md-button class="md-raised md-primary md-hue-1" aria-label="Go Back">
    <a ui-sref='welcome()' layout='row' layout-align="center center">
        <i class="material-icons prefix">arrow_back</i>
        Go Back
    </a>
</md-button>

<i class="material-icons prefix">search</i>

 <md-chips flex="60"
  ng-model="cchip.chips" readonly="false"
  md-require-match="true"
  md-on-add="cchip.newChip($chip)"
  md-on-remove="cchip.removeChip($chip, $index)"
  md-autocomplete-snap>

<!-- AUTOCOMPLETE INPUT -->
   <md-autocomplete
      md-search-text="cchip.searchText"
      md-items="item in cchip.querySearch()"
      md-item-text="item.display"
      md-menu-class="autocomplete-custom-template"
      placeholder="Write to search" md-min-length="1"
      md-autofocus>

    <md-item-template>
      <span class="item-title">
        <span md-highlight-text="cchip.searchText" md-highlight-flags="^i"
        >{{item.display}}</span>
      </span>
      <span class="item-metadata">
        <span class="item-metastat">
          <i>Type: <strong>{{item.type}}</strong></i>
        </span>
      </span>
    </md-item-template>
    <md-not-found> No string matching </md-not-found>
   </md-autocomplete>
<!-- AUTOCOMPLETE INPUT -->

    <md-chip-template>
        <span>
          <strong>[{{$index+1}}] {{$chip.display}}</strong>
          <em>({{$chip.type}})</em>
        </span>
    </md-chip-template>
 </md-chips>

<a href="#" ng-click="cchip.searchAll()">
    <i class="material-icons prefix">skip_next</i>
</a>

</div>
<!-- SEARCH INPUT -->
