
<!--
Zoomify preview:
  http://www.academiabelgica.it.cloud.seeweb.it/archiviocumont/record.php?subdoc=1&record=3&page=1&fullscreen=all
-->

<script type="text/javascript" src="./javascript/ZoomifyImageViewer.js"></script>

<SCRIPT type='text/javascript'>
Z.showImage(
    "bigContainer",
    "files/documents/collocazione_3_page001" ,
    "zToolbarPosition=2&zFullPageInitial=1&zSkinPath=Assets/Skins/Dark"
    // options
    + "&zNavigatorFit=1&zNavigatorWidth=80&zNavigatorHeight=80"
    + "&zNavigatorVisible=3&zInitialZoom=0&zLogoVisible=0"
    + "&zToolbarVisible=1&zLogoVisible=0"
    + "&zSliderVisible=1&zProgressVisible=0&zTooltipsVisible=0"
);
</SCRIPT>