<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title> Test Material </title>

    <!-- CSS -->
    <link rel="stylesheet"
        href="static/bower/materialize/dist/css/materialize.min.css">

    <!-- FONT -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script type="text/javascript"
        src="static/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript"
        src="static/bower/angular/angular.min.js"></script>

    <!-- MATERIAL -->
    <script
        src="static/bower/materialize/dist/js/materialize.min.js"></script>

    <!-- ANGULAR APP
    <script type="text/javascript" src="src/angular-materialize.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    -->
</head>
<body>

<!--
<body ng-app="materializeApp" ng-controller="BodyController">
-->

<div class="container">

 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://materializecss.com/images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="http://materializecss.com/images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>